:root {
  --color: green;
}

body {
  width: 100%;
  
  min-height: 722px;
}

#root {
  height: 100%;
}

.App {
  background-color: rgb(177, 196, 197);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  background-color: white;
  width: 100%;
  max-width: 800px;
  height: 100%;
  padding: 20px;
}

textarea {
  width: 760px;
  min-height: 200px;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--color) 0px 8px 24px;
}

#factors-row {
  display: flex;
  justify-content: space-between;
}

#results-row {
  display: flex;
  justify-content: space-between;
}

#hard-lists {
  display: flex;
  justify-content: space-between;
  height: 200px;
  gap: 10px;
}

ul {
  overflow: auto;
  border: solid grey 1px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

ul#hard-words {
  min-width: 200px;
}

ul#hard-sentences {
  font-size: .8rem;
  flex: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}




