:root {
  --r: 0;
  --g: 180;
  --b: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  
  min-height: 722px;
}

#root {
  height: 100%;
}

.App {
  background-color: rgb(177, 196, 197);
  background: linear-gradient(rgb(177, 196, 197), #9198e5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  background-color: white;
  width: 100%;
  max-width: 800px;
  height: 100%;
  padding: 20px;
}

h1 {
  background-image: linear-gradient(0.25turn, rgb(112, 124, 124), #5a63be);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  width: 350px;
}

textarea {
  margin: 0px;
  border-width: 2px;;
  width: 760px;
  min-height: 200px;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border-color: rgb(var(--r), var(--g), var(--b));
  box-shadow: rgb(var(--r), var(--g), var(--b), 0.5) 0px 8px 24px;
  transition: 1s;
}

textarea:focus-visible {
  outline: none;
  border-width: 4px;
}

#factors-row {
  display: flex;
  justify-content: space-between;
}

#results-row {
  display: flex;
  justify-content: space-between;
}

span.context-color {
  color: rgb(var(--r), var(--g), var(--b));
  font-weight: 700;
  text-shadow: rgb(var(--r), var(--g), var(--b), 0.5) 0px 0px 10px;
}

#hard-lists {
  display: flex;
  justify-content: space-between;
  height: 200px;
  gap: 10px;
}

.list-title-wrapper {
  display: flex;
  flex-direction: column;
}

.list-title-wrapper:last-child {
  flex: 1;
}

.list-title-wrapper > h3 {
  margin: 0px;
}

ul {
  overflow: auto;
  border: solid grey 1px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

ul#hard-words {
  min-width: 200px;
}

ul#hard-sentences {
  font-size: .8rem;
  flex: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}




